:root{
    --primary-light: #ffeee6;
    --secondary-light:#ffb999;
    --primary-dark: #800000;
    --secondary-dark:#4d0000;
}

*{
    margin: 0px;
    padding: 0px;
}
.header{
    color: var(--primary-dark);
    text-align: center;
    font-weight: bold;
    padding: 10px;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 5px;
    /*border-bottom: 3px solid;*/
}
body{
    background-color: var(--primary-light);
    color: var(--primary-dark);
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.main{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.container{
    width: 500px;
    height: 500px;
    border: 3px gainsboro solid;
    background-color: gainsboro;
    display: grid;
    grid-gap: 1px;
}
.cell{  
    background-color: aliceblue;
    transition: background-color 0.25s ease-in-out;
}
.grey{
    opacity: 0.1;
}
.controls{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.selector{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.mode{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.clear {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.footer{
    padding: 10px;
    font-size: 18px;
    margin-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


.btn{
    width: 150px;
    height: 50px;
    color: inherit;
    background-color: inherit;
    font-size: 18px;
    border: 1px var(--primary-dark) solid;
    border-radius:20px;
    padding: 5px;
    transition: transform 0.25s ease-in-out;
}
.btn:hover{
    color: var(--primary-light);
    background-color: var(--primary-dark);
    transform: scale(1.1) ;
}
.pen, .canvas {
    width: 150px;
    height: 50px;
    color: inherit;
    background-color: inherit;
    font-size: 18px;
    border: 1px var(--primary-dark) solid;
    border-radius:20px;
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


input[type=color] {
    margin-top: 3px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 1px #a3a3a3;
    transition: transform 0.25s ease-in-out;
}
input[type=color]:hover {
    transform: scale(1.1);
}
input[type=color]::-webkit-color-swatch {
    border: 0;
    border-radius: 50%;
    padding: 0;
}

input[type=color]::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 50%;
    padding: 0;
}


.sliderContainer{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background: linear-gradient(90deg, var(--primary-dark) 25%, var(--secondary-light) 25%);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--secondary-dark);
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--secondary-dark);
    cursor: pointer;
}
.fa-github {
    color: var(--primary-dark);
    font-size: 24px;
    transition: transform 0.8s ease-in-out;
  }
  
  .fa-github:hover {
    transform:rotate(720deg) scale(1.2);
  }
